.main {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(242, 244, 247, 1);
  margin-top: -15px;
  padding: 30px;
}
.icon {
  color: rgba(39, 39, 40, 1);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.015em;
  text-align: left;
}
.page_btn {
  width: 113.16px;
  height: 57px;
  top: 54px;
  left: 1127px;
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 1);
  background: rgba(87, 155, 195, 1);
  color: rgba(255, 255, 255, 1);
}
.note {
  background: rgba(255, 255, 255, 1);
  width: Fixed (1, 040px);
  height: Hug (98px);
  top: 135px;
  left: 200px;
  padding: 16px;
  border-radius: 13px;
  gap: 10px;
  margin-top: 20px;
}
.notes_title {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.23999999463558197px;
  text-align: left;
  color: rgba(39, 39, 40, 1);
}
.media_icons {
  width: 100%;
  display: flex;
  justify-content: center;
}
.media_btn {
  background: rgba(233, 241, 246, 1);
  color: rgba(87, 155, 195, 1);
  width: 44px;
  height: 44px;
  margin: 0px 30px;
  padding: 10px;
  cursor: pointer;
}
.body_image {
  width: 100px;
}
.body_input {
  width: 100%;
  border: solid 1px red;
  min-height: 20px;
}
